.about {
    h1 {
        font-size: 40px;
        font-weight: 600;
    }
    h2 {
        margin-top: 20px;

        font-size: 24px;
        font-weight: 500;
    }

    ul {
        font-size: 14px;
    }
}
